In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import ShuffleSplit
from sklearn.preprocessing import StandardScaler, LabelEncoder

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [4]:
df = pd.read_csv('train.csv')
df.shape

(891, 12)

In [5]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
df['Pclass'].unique()

array([3, 1, 2])

In [15]:
columns_to_ignore = ('PassengerId', 'Name', 'Ticket')

for column in df.columns:
    if column not in columns_to_ignore:
        print(column, df[column].unique())

Survived [0 1]
Pclass [3 1 2]
Sex ['male' 'female']
Age [ 22.    38.    26.    35.      nan  54.     2.    27.    14.     4.    58.
  20.    39.    55.    31.    34.    15.    28.     8.    19.    40.    66.
  42.    21.    18.     3.     7.    49.    29.    65.    28.5    5.    11.
  45.    17.    32.    16.    25.     0.83  30.    33.    23.    24.    46.
  59.    71.    37.    47.    14.5   70.5   32.5   12.     9.    36.5   51.
  55.5   40.5   44.     1.    61.    56.    50.    36.    45.5   20.5   62.
  41.    52.    63.    23.5    0.92  43.    60.    10.    64.    13.    48.
   0.75  53.    57.    80.    70.    24.5    6.     0.67  30.5    0.42
  34.5   74.  ]
SibSp [1 0 3 4 2 5 8]
Parch [0 1 2 5 3 4 6]
Fare [   7.25     71.2833    7.925    53.1       8.05      8.4583   51.8625
   21.075    11.1333   30.0708   16.7      26.55     31.275     7.8542
   16.       29.125    13.       18.        7.225    26.        8.0292
   35.5      31.3875  263.        7.8792    7.8958   27.7208  146.5208
    7.75     10.5      82.1708   52.        7.2292   11.2417    9.475    21.
   41.5792   15.5      21.6792   17.8      39.6875    7.8      76.7292
   61.9792   27.75     46.9      80.       83.475    27.9      15.2458
    8.1583    8.6625   73.5      14.4542   56.4958    7.65     29.       12.475
    9.        9.5       7.7875   47.1      15.85     34.375    61.175
   20.575    34.6542   63.3583   23.       77.2875    8.6542    7.775
   24.15      9.825    14.4583  247.5208    7.1417   22.3583    6.975
    7.05     14.5      15.0458   26.2833    9.2167   79.2       6.75     11.5
   36.75      7.7958   12.525    66.6       7.3125   61.3792    7.7333
   69.55     16.1      15.75     20.525    55.       25.925    33.5
   30.6958   25.4667   28.7125    0.       15.05     39.       22.025    50.
    8.4042    6.4958   10.4625   18.7875   31.      113.275    27.
   76.2917   90.        9.35     13.5       7.55     26.25     12.275
    7.125    52.5542   20.2125   86.5     512.3292   79.65    153.4625
  135.6333   19.5      29.7      77.9583   20.25     78.85     91.0792
   12.875     8.85    151.55     30.5      23.25     12.35    110.8833
  108.9      24.       56.9292   83.1583  262.375    14.      164.8667
  134.5       6.2375   57.9792   28.5     133.65     15.9       9.225    35.
   75.25     69.3      55.4417  211.5       4.0125  227.525    15.7417
    7.7292   12.      120.       12.65     18.75      6.8583   32.5
    7.875    14.4      55.9       8.1125   81.8583   19.2583   19.9667
   89.1042   38.5       7.725    13.7917    9.8375    7.0458    7.5208
   12.2875    9.5875   49.5042   78.2667   15.1       7.6292   22.525
   26.2875   59.4       7.4958   34.0208   93.5     221.7792  106.425
   49.5      71.       13.8625    7.8292   39.6      17.4      51.4792
   26.3875   30.       40.125     8.7125   15.       33.       42.4      15.55
   65.       32.3208    7.0542    8.4333   25.5875    9.8417    8.1375
   10.1708  211.3375   57.       13.4167    7.7417    9.4833    7.7375
    8.3625   23.45     25.9292    8.6833    8.5167    7.8875   37.0042
    6.45      6.95      8.3       6.4375   39.4      14.1083   13.8583
   50.4958    5.        9.8458   10.5167]
Cabin [nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49' 'F4'
 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77' 'E67'
 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106' 'C65'
 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91' 'E40'
 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34' 'C104'
 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79' 'E25'
 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68' 'A10'
 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58' 'C126'
 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90' 'C45'
 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6' 'B82 B84'
 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50' 'B42' 'C148']
Embarked ['S' 'C' 'Q' nan]

In [37]:
VALID = df.shape[0] // 9 # 1/9th will be "dev set" data

In [40]:
all_df = df.drop(['PassengerId', 'Name', 'Ticket'], axis=1)
test_df = all_df[:-VALID]
dev_df = all_df[:VALID]

print(test_df.shape)
print(dev_df.shape)

(792, 9)
(99, 9)

In [42]:
all_df['Age'].unique()

array([ 22.  ,  38.  ,  26.  ,  35.  ,    nan,  54.  ,   2.  ,  27.  ,
        14.  ,   4.  ,  58.  ,  20.  ,  39.  ,  55.  ,  31.  ,  34.  ,
        15.  ,  28.  ,   8.  ,  19.  ,  40.  ,  66.  ,  42.  ,  21.  ,
        18.  ,   3.  ,   7.  ,  49.  ,  29.  ,  65.  ,  28.5 ,   5.  ,
        11.  ,  45.  ,  17.  ,  32.  ,  16.  ,  25.  ,   0.83,  30.  ,
        33.  ,  23.  ,  24.  ,  46.  ,  59.  ,  71.  ,  37.  ,  47.  ,
        14.5 ,  70.5 ,  32.5 ,  12.  ,   9.  ,  36.5 ,  51.  ,  55.5 ,
        40.5 ,  44.  ,   1.  ,  61.  ,  56.  ,  50.  ,  36.  ,  45.5 ,
        20.5 ,  62.  ,  41.  ,  52.  ,  63.  ,  23.5 ,   0.92,  43.  ,
        60.  ,  10.  ,  64.  ,  13.  ,  48.  ,   0.75,  53.  ,  57.  ,
        80.  ,  70.  ,  24.5 ,   6.  ,   0.67,  30.5 ,   0.42,  34.5 ,  74.  ])

In [43]:
# 1st attempt, by "age"

# Specify that all features have real-value data
feature_columns = [tf.feature_column.numeric_column("x", shape=[1])]

# Build 3 layer DNN with 10, 20, 10 units respectively.
classifier = tf.estimator.DNNClassifier(feature_columns=feature_columns,
                                        hidden_units=[10, 20, 10],
                                        n_classes=3,
                                        model_dir="/tmp/titanic")

INFO:tensorflow:Using default config.
INFO:tensorflow:Using config: {'_model_dir': '/tmp/titanic', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x1145bea58>, '_task_type': 'worker', '_task_id': 0, '_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [73]:
test_df.loc[:, 'Age'] = test_df['Age'].fillna(0)

age_data = StandardScaler().fit_transform(np.float32(test_df['Age'].values[:, None]))

/Users/aaron/Documents/ml/kaggle/digit-recognizer/venv/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [78]:
# Define the training inputs
train_input_fn = tf.estimator.inputs.numpy_input_fn(
    x={"x": np.array(test_df['Age'].values)},
    y=np.array(test_df['Survived'].fillna(0).values),
    num_epochs=None,
    shuffle=True)

In [79]:
# Train model.
classifier.train(input_fn=train_input_fn, steps=2000)

INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Restoring parameters from /tmp/titanic/model.ckpt-3
INFO:tensorflow:Saving checkpoints for 4 into /tmp/titanic/model.ckpt.
INFO:tensorflow:loss = 99.089, step = 4
INFO:tensorflow:global_step/sec: 540.173
INFO:tensorflow:loss = 81.9191, step = 104 (0.186 sec)
INFO:tensorflow:global_step/sec: 619.159
INFO:tensorflow:loss = 82.2905, step = 204 (0.161 sec)
INFO:tensorflow:global_step/sec: 636.853
INFO:tensorflow:loss = 85.6751, step = 304 (0.157 sec)
INFO:tensorflow:global_step/sec: 593.927
INFO:tensorflow:loss = 78.4316, step = 404 (0.169 sec)
INFO:tensorflow:global_step/sec: 638.316
INFO:tensorflow:loss = 85.1989, step = 504 (0.156 sec)
INFO:tensorflow:global_step/sec: 599.068
INFO:tensorflow:loss = 83.6208, step = 604 (0.167 sec)
INFO:tensorflow:global_step/sec: 619.352
INFO:tensorflow:loss = 91.2771, step = 704 (0.162 sec)
INFO:tensorflow:global_step/sec: 631.97
INFO:tensorflow:loss = 80.7976, step = 804 (0.158 sec)
INFO:tensorflow:global_step/sec: 622.19
INFO:tensorflow:loss = 86.6655, step = 904 (0.161 sec)
INFO:tensorflow:global_step/sec: 614.564
INFO:tensorflow:loss = 81.6454, step = 1004 (0.162 sec)
INFO:tensorflow:global_step/sec: 632.315
INFO:tensorflow:loss = 83.5681, step = 1104 (0.158 sec)
INFO:tensorflow:global_step/sec: 512.069
INFO:tensorflow:loss = 86.1367, step = 1204 (0.196 sec)
INFO:tensorflow:global_step/sec: 584.454
INFO:tensorflow:loss = 81.889, step = 1304 (0.170 sec)
INFO:tensorflow:global_step/sec: 602.011
INFO:tensorflow:loss = 86.0624, step = 1404 (0.166 sec)
INFO:tensorflow:global_step/sec: 605.177
INFO:tensorflow:loss = 83.3815, step = 1504 (0.165 sec)
INFO:tensorflow:global_step/sec: 546.377
INFO:tensorflow:loss = 82.1251, step = 1604 (0.184 sec)
INFO:tensorflow:global_step/sec: 606.31
INFO:tensorflow:loss = 79.2252, step = 1704 (0.165 sec)
INFO:tensorflow:global_step/sec: 481.357
INFO:tensorflow:loss = 85.9384, step = 1804 (0.208 sec)
INFO:tensorflow:global_step/sec: 508.771
INFO:tensorflow:loss = 87.2489, step = 1904 (0.196 sec)
INFO:tensorflow:Saving checkpoints for 2003 into /tmp/titanic/model.ckpt.
INFO:tensorflow:Loss for final step: 80.1188.

In [81]:
# Define the test inputs
test_input_fn = tf.estimator.inputs.numpy_input_fn(
    x={"x": np.array(dev_df['Age'].values)},
    y=np.array(dev_df['Survived'].fillna(0).values),
    num_epochs=1,
    shuffle=False)

# Evaluate accuracy.
accuracy_score = classifier.evaluate(input_fn=test_input_fn)["accuracy"]

print("\nTest Accuracy: {0:f}\n".format(accuracy_score))

WARNING:tensorflow:Casting <dtype: 'float32'> labels to bool.
WARNING:tensorflow:Casting <dtype: 'float32'> labels to bool.
INFO:tensorflow:Starting evaluation at 2018-01-13-22:48:36
INFO:tensorflow:Restoring parameters from /tmp/titanic/model.ckpt-2003
INFO:tensorflow:Finished evaluation at 2018-01-13-22:48:37
INFO:tensorflow:Saving dict for global step 2003: accuracy = 0.585859, accuracy_baseline = 0.585859, auc = 0.485702, auc_precision_recall = 0.427263, average_loss = 0.69295, global_step = 2003, label/mean = 0.414141, loss = 68.6021, prediction/mean = 0.37602

Test Accuracy: 0.585859